@import "../../../assets/styles/variables";

.profileCardWrap {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 5px;
  max-width: 700px;
  padding: 20px;
  position: relative;
  min-height: 700px;
}

.info {
  width: 55%;
  margin-left: 20px;
  & p span {
    color: #7b7b7b;
    font-weight: 700;
  }
}
.jobTrue {
  color: green !important;
  font-weight: 600;
}

.jobFalse {
  color: red !important;
  font-weight: 600;
}

.fullName {
  font-size: 25px;
  margin-bottom: 5px;
  & span {
    font-weight: 700;
    color: $main-cl!important;
  }
}

.aboutMe {
  color: #a2a2a2;
  &::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #ccc;
    width: 100%;
    margin-top: 15px;
  }
}

.lookingJob {
  margin-bottom: 5px;
}

.lookingJobDescr {
  color: #ccc;
  margin-bottom: 5px;
}

