.formControl {
    margin: 5px 0px;
    & textarea {
        resize: none;
    }
}

.formControl.error input,
.formControl.error textarea {
    border: 1px solid red;
}

.formControl.error span {
    color: red;
}